@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This site was created in an effort to exercise and reinforce ASP.NET Core skills please click <a href="https://github.com/BeniBarra ">here</a> to visit my github page and learn more about me.</p>
<p>Thank You</p>
